*{
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
    background-color: #dafa9e;
}

canvas {
    border: 5px solid rebeccapurple;
    background-color: white;
    box-shadow: 10px 10px rgb(155, 155, 155);
    
}
.tools {
    margin-top: 20px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border:5px solid;
    border-radius: 30px;
}
button,
span{
    margin-left: 15px;
    border: none;
    background-color: rgb(221, 200, 185);
    color: rgb(0, 0, 0);
    padding: 20px;
    font-size: 1.5rem;
    border-radius: 20%;
}
input{
    margin-left: 15px;
    border: none;
    background-color: rgb(221, 200, 185);
    color: rgb(0, 0, 0);
    height: 70px;
    padding : 15px 10px;
    font-size: 1.5rem;
    border-radius: 20%;
}

.start-screen{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position:fixed;
    left:0;
    bottom:0;
    top:0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    color: White;
    font-size: 2rem;
}

.start-screen.hidden{
    opacity: 0;
    pointer-events: none;
}

button[id="start"]{
    margin-top: 50px;
    background-color: rgba(0, 0, 0, 0.8);
    color: White;
    border-radius: 10px;
    border: 5px solid;
    padding: 10px 50px;
}

button[id="start"]:hover{
    background-color: White;
    color: rgba(0, 0, 0, 0.8);
}

.info{
    text-align: center;
    line-height: 3rem;
}

.info h2{
    margin-bottom: 50px;
}